<p style="color: green"><%= notice %></p>

<%= render @doctors_reservation %>

<div>
  <%= link_to "Edit this doctors reservation", edit_doctors_reservation_path(@doctors_reservation) %> |
  <%= link_to "Back to doctors reservations", doctors_reservations_path %>

  <%= button_to "Destroy this doctors reservation", @doctors_reservation, method: :delete %>
</div>
